<app-user-header></app-user-header>

<div class="container">
  <section class="home">
    <div class="hero-section">
      <div class="hero-content">
        <h1>Welcome to TicketHub!</h1>
        <p>Discover seamless travel experiences with TicketHub, your go-to platform for booking bus tickets to your
          favorite destinations.</p>
        <a routerLink="/booking" mat-button color="primary">Book Now</a>
      </div>
    </div>

    <div class="features">
      <div class="feature">
        <img src="../../../assets/travels.png" alt="Search Icon">
        <h2>Effortless Booking</h2>
        <p>Book your tickets in just a few clicks. Explore various routes and find the perfect bus for your journey.</p>
      </div>

      <div class="feature">
        <img src="assets/t1.png" alt="Calendar Icon">
        <h2>Flexible Dates</h2>
        <p>Choose from a range of travel dates to suit your schedule. We offer flexibility to make your journey
          convenient.</p>
      </div>

      <div class="feature">
        <img src="assets/t2.jpg" alt="Comfort Icon">
        <h2>Comfortable Travel</h2>
        <p>Enjoy a comfortable ride with our partner bus services. We prioritize your safety and comfort throughout the
          journey.</p>
      </div>
    </div>
  </section>
</div>